extends layout
block head
    link(rel='stylesheet' href='style.css')
block body
    #wrapper
        div(id="map")
        #tips
          .container-fluid
            .row
                if (currentUser)
                  .col-xs-12
                      hr
                      form(method="POST" action='/tips')
                          legend New Tip
                          .form-group
                              label(for='tip-body') Tip
                              textarea#post-summary.form-control(name='body', placeholder="What's your tip?")
                          .form-group
                              label(for='tip-location') Location
                              input#post-subreddit.form-control(name='location', placeholder='Tip about where?')
                          .text-right
                              button.btn.btn-primary(type='submit') Submit Tip
                div
                    h2 Tips
                    br
                    for tip in tips
                        p=tip.body
                        p=tip.owner
                        form(action="/tips/#{tip.id}?_method=DELETE" method="POST" )
                            .text-right
                              button.btn.btn-primary(type="Submit") Delete
    block content
    script(src='markerclusterer.js')
    script(src='js-map.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAaGNPA1AHCW0seaqLolurw0WDxDBccbco&callback=initMap')
