extends layout
block head
    link(rel='stylesheet' href='style.css')
block body
    #wrapper
        div(id="map")
        #tips
          .container-fluid
            .row
              .col-xs-12
                br
                form(action="/tips" method="POST")
                  .form-group
                    textarea.form-control(name="body")
                  .text-right
                    button.btn.btn-primary(type="Submit") Save Tip
                div
                    for tip in tips
                        p #{tip.body}
    block content
    script(src='markerclusterer.js')
    script(src='js-map.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAaGNPA1AHCW0seaqLolurw0WDxDBccbco&callback=initMap')
