html(lang="en")
    head
        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        // Latest compiled and minified JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
        // Custom CSS 
        link(rel="stylesheet", href='/main-layout.css' type="text/css")
        link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css' type="text/css")
        // Custom Scripts
        script(src='./scripts/layout.js')
        title Awesome Tips
        block head
    body
        nav.navbar
            .container
                .navbar-header
                    a(href="/").navbar-brand Awesome Tips
                if (!currentUser) 
                    ul.nav.navbar-nav.navbar-right
                        form#userAuthForm
                          input#username(type="text" name="username" placeholder="Username")
                          input#password(type="password" name="password" placeholder="Password")
                          p#login Login
                          p#signUp Sign Up
                else
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/user/"+currentUser.username)=currentUser.username
                        li
                            a(href='/logout') Logout
        block body
