html(lang="en")
    head
        title Awesome Tips
        
        // BOOTSTRAP
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='/bootstrap.css')
        // CUSTOM CSS
        
        link(rel='stylesheet' href='style.css')
        
        // Latest compiled and minified JavaScript
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
        
        script(src='/scripts/layout.js')

    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
            div.container
                if (!currentUser)
                    form#userAuthForm.text-right
                        div.row
                            .col-xs-12
                                .col-xs-2.col-xs-offset-1
                                    ul.text-left
                                        li#login.glyphicon.glyphicon-log-in Login
                                        li#signUp.glyphicon.glyphicon-check Signup
                                .col-xs-4.col-xs-offset-1
                                    a(href="/").navbar-brand.nav-item  Awesome Tips
                                .col-xs-4
                                    label.text-left Username:
                                        input.nav-item#username(type="text" name="username" placeholder="Username")
                                    label.text-left password:
                                        input.nav-item#password(type="password" name="password" placeholder="Password")

                else
                    div.userAuthForm
                        div.row
                            .col-xs-12
                                .col-xs-2
                                    ul.text-left
                                        a.nav-item(href="/user/" + currentUser.username)=currentUser.username
                                .col-xs-4.col-xs-offset-1
                                    a(href="/").navbar-brand.nav-item  Awesome Tips
                                .col-xs-4.col-xs-offset-1
                                    ul
                                        a.logout.nav-item.glyphicon.glyphicon-log-in(href='/logout') Logout
                    //div.text-right
                    //    a(href="/").navbar-brand Awesome Tips
                    //    ul.navbar-nav.mr-auto
                    //        li
                    //            a(href="/user/"+currentUser.username)=currentUser.username
                    //        li
                    //            a.glyphicon.glyphicon-log-in(href='/logout') Logout
        block body
