extends layout

block content
    div.container-fluid
    if (dangers.length !== 0)
        div.alert.alert-danger #{dangers}

    form(action="/login" method="POST")
        input#username(type="text" name="username" placeholder="Username")
        input#password(type="password" name="password" placeholder="Password")
        button.btn(type="submit") login