nav.navbar.bg-primary.col-xs-12
    a(href="/").navbar-brand.col-xs-12.col-md-6 Awesome Tips
    ul.userBtns
        if (!currentUser)

            a(href="/login")
                li.glyphicon.glyphicon-log-in
                    #login Login
            a(href="sign-up")
                li.glyphicon.glyphicon-check
                    #signup Signup

        else
            ul
                a.nav-item(href="/user/" + currentUser.username)=currentUser.username
                p#userId(hidden)=currentUser.id

            ul
                a.logout.nav-item.glyphicon.glyphicon-log-out(href='/logout') Logout
