nav.navbar.bg-primary.col-xs-12
    a(href="/").navbar-brand.col-xs-12.col-md-6 Awesome Tips
    ul.userBtns
    if (!currentUser)

        // REMOVED ID'S USED BY JQUERY ROUTES, CAUSING SOME ROUTE ISSUES
        //li.glyphicon.glyphicon-log-in#login
        //    a(href="/login") Login
        //li.glyphicon.glyphicon-check#signup
        //    a(href="/sign-up") Signup

        li.glyphicon.glyphicon-log-in
            a(href="/login") Login
        li.glyphicon.glyphicon-check
            a(href="/sign-up") Signup

    else
        li
            a.nav-item(href="/user/" + currentUser.username)=currentUser.username
            p#userId(hidden)=currentUser.id

        li
            a.logout.nav-item.glyphicon.glyphicon-log-out(href="/logout") Logout
            //a.logout.nav-item.glyphicon.glyphicon-log-out(href="/user/")#logout Logout
