extends layout
block head
block body

    form(action="/sign-up" method="POST")
        input#username(type="text" name="username" placeholder="Username")
        input#password(type="password" name="password" placeholder="Password")
        button.btn(type="submit") Sign Up