/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

*{
    font-size: 20px;
    font-family: Helvetica;
    color: #333;
}
input {
    color: black;
    padding-left: 4px;
}

li, a {
    text-decoration: none;
    list-style: none;
}
li, a:hover{
    text-decoration: none;
    color: white;
}

li.glyphicon:hover{
    background-color: rgb(221, 132, 132);
}

.logout:hover{
    background-color: rgb(221, 132, 132);

}

button:focus{
    -moz-outline-style: none;
    outline-style: none;
    outline: 0;
}
a {
    color: #fff;

}

.container {
    margin-left: 8%;
    padding: 0;
}


#username,
#password {
    margin-top: 6px;
    margin-left: 12px;
}

label {
    text-transform: capitalize;
}

input#tip-address{
    font-size: inherit;
}

#tip-submit{
    font-size: inherit;
    border-radius: 15px;
    -moz-outline-style: none;
    outline-style: none;
    outline: 0;
}

.navbar-brand {
    margin-left: 18px;
    margin-top: 8px;
    font-size: 2.2em;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}

#userAuthForm > input,
#userAuthForm > li,
#userAuthForm > ll > a,
.userAuthForm > input,
#userAuthForm > li,
#userAuthForm > ll > a {
    display: inline-block;
    margin: 8px;
}

#tips{
    overflow-y: scroll;
 

    background-color: #efefef;

    margin-top: -20px;
}

#map{
    margin-top: -20px;
    float: left;
    height: 400px;
}

.navbar{
    width: 100%;
}

#login{
    padding-left: .5em;
    display : inline;
    color: white;

}
#signup{
    margin-left : -.5em;
    display: inline;
    color: white;
}

.buttontxt{
    display: inline-block;
    margin-left: -15px;
    color: white;
}

.glyphicon{
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: .5em;
    margin-left: .5em;
    width: 120px;
    padding: .5em 0em;
    -webkit-transition: background-color .5s; /* Safari */
    transition: background-color .5s;

}



.userBtns{
    width : 300px;
    
}
.heading{
    position: relative;
    left: 0px;
    padding: 0px;
}
.navbar-brand{
    margin-bottom: .8em;
}

.tipbtn{
    width: 50px;
}

.tipbox{
    padding-top: 1em;
    padding-bottom: 1em;
}
.tip{
    border-top: 1px solid white;
}

.hint{
    font-size: .6em;
}

#tip-content{
    width: 100%;
    height: 200px;
    font-size: 1em;
}

.form-group{
    width: 100%;
}

.tip-body{
    width: 100%;
}
.tip-user{
    color: #777;
    font-size: .8em;
    width: 100%;
}
.tip-date{
    color: #777;
    font-size: .8em;
}
.tip{
    padding-top: 1em;
}
.tip-vote-count{
    line-height: 70px;
}